New folder/INTERNSHIP/flows.json
[{"id":"7bbb6aeb.7019d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"459ec340.a8cc5c","type":"function","z":"7bbb6aeb.7019d4","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\nvar apikey = \"LATFhcxtZkek7XrRH7fP2BzkjXQoX-k3IkzABw5pCdBW\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":320,"wires":[["9e25f67f.4338c8"]]},{"id":"e4cbcab5.82fff8","type":"function","z":"7bbb6aeb.7019d4","name":"sendToEndpoint","func":"var token = msg.payload.access_token;\nvar instance_id = \"3e12d04e-8c95-44d4-baca-bada9d286182\";\nmsg.headers= {\"Content-Type\":\"application/json\",\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id};\n\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\nmsg.payload = { \"fields\":['Country', 'Year', 'Status', 'Adult Mortality',\n       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',\n       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',\n       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',\n       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],\n       'values':[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":320,"wires":[["f0b65314.bfeec"]]},{"id":"9e25f67f.4338c8","type":"http request","z":"7bbb6aeb.7019d4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":350,"y":140,"wires":[["e4cbcab5.82fff8"]]},{"id":"f0b65314.bfeec","type":"http request","z":"7bbb6aeb.7019d4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/3e12d04e-8c95-44d4-baca-bada9d286182/deployments/7ec089fc-63df-4d50-8e36-03761781e2d1/online","tls":"","persist":false,"proxy":"","authType":"basic","x":690,"y":140,"wires":[["528aa278.dfd61c","71da1660.0f4ec8"]]},{"id":"528aa278.dfd61c","type":"ui_text","z":"7bbb6aeb.7019d4","group":"218f28e7.971998","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload.values[0][0]}}","layout":"row-spread","x":910,"y":240,"wires":[]},{"id":"c900f5e.4cce608","type":"ui_form","z":"7bbb6aeb.7019d4","name":"","label":"","group":"218f28e7.971998","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five death","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"y","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","y":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":240,"wires":[["459ec340.a8cc5c"]]},{"id":"71da1660.0f4ec8","type":"debug","z":"7bbb6aeb.7019d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":120,"wires":[]},{"id":"218f28e7.971998","type":"ui_group","z":"","name":"Life Expectancy","tab":"fbe6b343.a9d2","order":1,"disp":true,"width":"6","collapse":false},{"id":"fbe6b343.a9d2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]